@model GearShop.Models.Category_Models.CategoryDetail

<div class="category_detail">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GearInCategory)
        </dt>
    </dl>

    <div class="row row-cols-1 row-cols-md-3">
        @{
            foreach (var gear in Model.GearInCategory)
            {
                <div class="col mb-4">
                    <div class="card h-100" style="width: 15rem;">
                        <img class="card-img-top" src="@Html.DisplayFor(model => gear.PictureUrl)" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@gear.Name</h5>
                            <a href="@Url.Action("Details", "Gear", new { id = gear.GearId})" class="btn btn-primary">View this Gear</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
<br />

<p>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId })
    }
    @Html.ActionLink("Back to List", "Index")
</p>
