@model GearShop.Models.Category_Models.CategoryDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CategoryDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GearInCategory)
        </dt>

        @{ 
            foreach (var gear in Model.GearInCategory)
            {
                <dd>
                    <a href="@Url.Action("Details", "Gear", new { id = gear.GearId})" class="btn btn-primary">@gear.Name</a>
                </dd>
            }
        }

    </dl>
</div>
<br />

<p>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId })
    }
    @Html.ActionLink("Back to List", "Index")
</p>
