@model IEnumerable<GearShop.Models.Category_Models.CategoryListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Click on a Category to View Specific Gear</h2>

<p>
    <a href="@Url.Action("Create", "Category", routeValues: null)" class="btn btn-primary btn-sm">Create a new category</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div class="card" style="width: 25rem;">
                    <div class="card-body">
                        <h5 class="card-title">@item.CategoryName</h5>
                        <a href="@Url.Action("Details", new { id = item.CategoryId })" class="card-link">View Gear in this Category</a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="@Url.Action("Edit", new { id = item.CategoryId })" class="card-link">Edit</a>
                            <a href="@Url.Action("Delete", new { id = item.CategoryId })" class="card-link">Delete</a>
                        }
                    </div>
                </div>
            </td>
        </tr>
    }

</table>
