@model GearShop.Models.Cart_Models.CartDetail

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>CartDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GearInCart)
        </dt>
        @{ 
            foreach (var gear in Model.GearInCart)
            {
                <dd>
                    <p>Name: @gear.NameOfGear</p>
                    <p>Amount: @gear.AmountOfGearInCart</p>
                </dd>
            }
        }

        <dt>
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subtotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CartId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
