@model GearShop.Models.Comment_Models.CommentDetail

@{
    ViewBag.Title = "Delete this Comment";
}

<div class="card bg-danger">
    <div class="card-header">
        <h5>Are you sure you want to delete this comment?</h5>
    </div>
    <div class="card-body">
        <p class="card-text">Gear this was commented on: @Html.DisplayFor(model => model.Gear.Name)</p>
        <p class="card-text">Comment ID: @Html.DisplayFor(model => model.CommentId)</p>
        <p class="card-text">Title of your Comment: @Html.DisplayFor(model => model.CommentTitle)</p>
        <p class="card-text">Text of your Comment: @Html.DisplayFor(model => model.CommentText)</p>
        <p class="card-text">Rating: @Html.DisplayFor(model => model.Rating)/5</p>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary mr-3" />
            <a href="@Url.Action("Index")" class="btn btn-success">Return to your Comments</a>
        </div>
        }
    </div>
</div>
