@model GearShop.Models.Comment_Models.CommentDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CommentDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CommentTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Replies)
        </dt>

        @{ 
            foreach (var reply in Model.Replies)
            {
                <dd>
                    <p>@reply.ReplyText</p>
                </dd>
            }
        }

    </dl>
</div>
<p>
    <a href="@Url.Action("Create", "Reply")" class="btn btn-primary">Reply to this Comment</a>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CommentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
