@model GearShop.Models.Comment_Models.CommentDetail

<div class="card mb-3 comment_card" style="height: 50%; width: 50%;">
    <img class="card-img-top" src="@Model.Gear.PictureUrl" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Gear.Name</h5>
    </div>
</div>

<div class="jumbotron">
    <div class="media">
        <div class="media-body">
            <h5 class="mt-0">@Model.CommentTitle</h5>
            <p>@Model.CommentText</p>
            <p class="card-text"><small class="text-muted">Posted by: @Model.UserId</small></p>
            @foreach (var reply in Model.Replies)
            {
                <div class="media mt-3">
                    <a class="mr-3" href="#">
                    </a>
                    <div class="media-body">
                        <p>@reply.ReplyText</p>
                        <p class="card-text"><small class="text-muted">Posted by: @reply.UserId</small></p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<p>
    <a href="@Url.Action("Create", "Reply")" class="btn btn-primary">Reply to this Comment</a>
    <a href="@Url.Action("Details", "Gear", new { id = Model.Gear.GearId })" class="btn-sm btn-secondary ml-3">Return to Item</a>
    <a href="@Url.Action("Index")" class="btn-sm btn-danger ml-3">View all of your Comments</a>
</p>
