@model GearShop.Models.Reply_Models.ReplyDetail

@{
    ViewBag.Title = "Delete Reply";
}
<div class="card bg-danger">
    <div class="card-header">
        <h5>Delete this Reply?</h5>
    </div>
    <div class="card-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReplyText)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReplyText)
            </dd>

        </dl>
    </div>

    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-primary mr-3" />
                <a href="@Url.Action("Index")" class="btn btn-success">Return to list of your Replies</a>
            </div>
        }
    </div>
</div>
