@model GearShop.Models.GearDetail

@{
    ViewBag.Title = "Details";
}

<div>
    <div class="jumbotron">
        <img src="@Html.DisplayFor(model => model.PictureUrl)" class="w-50" />
        <h1 class="display-4">@Html.DisplayFor(model => model.Name)</h1>
        <p class="lead">@Html.DisplayFor(model => model.Category.CategoryName)</p>
        <p class="lead">@Html.DisplayFor(model => model.Category.CategoryType)</p>
        <hr class="my-4">
        <p>Number Available: @Html.DisplayFor(model => model.NumAvailable)</p>
        <p>Price per Unit: $@Html.DisplayFor(model => model.Price)</p>
        <p>Average Rating: @Html.DisplayFor(model => model.AverageRating)</p>
        @if (User.Identity.IsAuthenticated)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.GearId)
                    @Html.HiddenFor(model => model.AverageRating)
                    @Html.HiddenFor(model => model.Price)
                    @Html.HiddenFor(model => model.NumAvailable)
                    @Html.HiddenFor(model => model.Name)
                    @Html.HiddenFor(model => model.IsAvailable)
                    @Html.HiddenFor(model => model.PictureUrl)
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.DisplayNameFor(model => model.NumberOfGearInCart)
                            @Html.EditorFor(model => model.NumberOfGearInCart, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NumberOfGearInCart, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Add to cart" class="btn btn-outline-primary" />
                        </div>
                    </div>
                </div>
            }
        }
        <hr />
        <h2 class="commentsheading">Comments</h2>
        <br />
        @for (int i = 0; i < Model.Comments.Count; i++)
        {
            <div class="media mb-5 text-center" style="border: 2px solid black; border-radius: 5px;">
                <div class="media-body">
                    <h5 class="mt-0">@Model.Comments[i].CommentTitle</h5>
                    <p class="card-subtitle mb-2 text-muted">User Rating: @Model.Comments[i].Rating/5</p>
                    <p>@Model.Comments[i].CommentText</p>
                    <p class="card-text"><small class="text-muted">Posted by: @Model.Comments[i].UserId</small></p>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("View Replies", "Details", "Comment", new { id = Model.Comments[i].CommentId }, null)
                    }
                </div>
            </div>
        }
        <br />
        <p class="col-md-12">
            @if (User.Identity.IsAuthenticated)
            {
                <a href="@Url.Action("Create", "Comment")" class="btn btn-primary">Leave a review!</a>
            }
            @if (User.Identity.Name == "admin@pjk120.com")
            {
                @Html.ActionLink("Edit this piece of Gear", "Edit", new { id = Model.GearId });
                <span> | </span>
            }

            @Html.ActionLink("Back to Categories", "Index", "Category")
        </p>
    </div>
</div>
