@model IEnumerable<GearShop.Models.GearListItem>

@{
    ViewBag.Title = "Gear";
}

<h2>All Gear</h2>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a href="@Url.Action("Create", "Gear", routeValues: null)" class="btn btn-primary btn-sm mb-5">Create new Gear</a>
    </p>
}
<div class="row row-cols-1 row-cols-md-3">
    @foreach (var item in Model)
    {
        <div class="col mb-4">
            <div class="card h-100" style="width: 20rem;">
                <img src="@item.PictureUrl" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title mt-auto">@item.Name</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@item.Category.CategoryName</li>
                    <li class="list-group-item">Price: $@item.Price</li>
                    <li class="list-group-item">Rating: @item.AverageRating/5</li>
                </ul>
                <div class="card-body d-flex flex-column">
                    <a href="@Url.Action("Details", new { id = item.GearId })" class="card-link btn btn-sm btn-success mt-auto">View This item</a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="@Url.Action("Edit", new { id = item.GearId })" class="card-link">Edit This Item</a>
                        <a href="@Url.Action("Delete", new { id = item.GearId })" class="card-link">Delete This Item</a>
                    }
                </div>
            </div>
        </div>
    }
</div>
